.wrapper{
    width:70%;
    display:grid;
    margin-left:15%;
}
body{
    background-color: black;
    min-height:100%;
}
.header{
    text-align: center;
    font-family:"Silkscreen";
    font-size: 200%;
    color:white;
}
.header img {
    height:100px;
    display:inline-block;
    padding:2% 0 2% 0;
}

.header h3 {
    width:20%;
    display:inline-block;
    vertical-align:top;
}
.content{
    display:grid;
    grid-template-columns: 1fr 3fr;
    gap:5%;
    font-family: "Rajdhani";
    color:white;
}
.box{
    background-color:#363838;
}
.box h4{
    text-align:center;
    background-color:#999999;
    color:black;
    font-family:'Silkscreen';
}
.left-links-li{
    padding: 0 10% 10% 10%;
}
.left-links-li li {
    padding:5%;
}
.right a {
    color:grey;
}
.right h3{
    padding: 5% 0 0 5%;
}
.right {
    
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:white;
}
.self-icn img{
    height:40em;
    padding-top: 5%;
}
.text p{
    padding:0 2% 2% 2%;   
}     


