.wrapper{
    width:70%;
    display:grid;
    margin-left:15%;
}
html{
    background-color: black;
}
.header{
    text-align: center;
    font-family:"Silkscreen";
    font-size:2em;
    color:white;
    width:70%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.header img {
    height:10vw;
    display:inline-block;
    padding:2% 0 2% 0;
    vertical-align:middle;
}

.header h3 {
    display:inline-block;
    vertical-align:middle;
}
.content{
    display:grid;
    grid-template-columns: 1fr 3fr;
    gap:5%;
    font-family: "Rajdhani";
    color:white;
}
.box{
    background-color:#363838;
}

.box h4{
    text-align:center;
    background-color:#999999;
    color:black;
    font-family:'Silkscreen';
    font-size:1.5vw;
    padding: 1vw 0 1vw 0;
}
.left-links-li{
    padding: 0 10% 10% 10%;
}
.left-links-li li {
    padding:5%;
}

.right h3{
    padding: 5% 0 0 5%;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:white;
}
.self-icn img{
    height:40em;
    padding-top: 5%;
}

.posts:last-child{
   padding-bottom:5%;
}

.posts li{
  padding:2%;
}

.text > * {
  padding:0 2% 2% 2%;
}
.text a {
   color:red;
}
