<!DOCTYPE html>

<html lang="en">
{% include "partials/header.html"%}
  <body>
    <div class="wrapper">
      <div class="content">
{% include "partials/left-nav.html" %}
        <div class="right-main">
          <div class="right-A">
            <div class="box">
              <h4>Recent Posts</h4>    
              <div>
                <ul class="post-list">
                {% assign top_posts = collections.post | reverse %}
                {%- for post in top_posts limit:3 -%}
                <li><a href="{{ post.data.permalink }}"> ☆ {{ post.data.title }}</a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
            <div id="buttons">
              <a href="https://nekoweb.org/"><img src="https://nekoweb.org/assets/buttons/button11.gif"></a><!-- button by milkyway.moe -->
              <a href="https://alienheadshitkid.neocities.org/"> <img src="https://alienheadshitkid.neocities.org/assets/global/ahskbuttonv2.gif" title="Alien Head Shit Kid"> </a>
              <a href=""><img src="https://ayoreis.com/static/Arch.png"></a>
              <a href=""><img src="https://www.vim.org/images/vim.vialle.love.anim.gif"></a>
            </div>
            <div class="box"> 
              <h4> Latest Obsessions </h4>
                <center><iframe id="mv" src="https://www.youtube-nocookie.com/embed/tRwHpyOq4P4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></center>
                <div class="obsession">
                  <img src="https://i.pinimg.com/736x/21/de/60/21de60e9e5e34b9d23635ed0e3958633.jpg">
                  <img src="https://shopthroat.com/cdn/shop/files/image_e0d1f50f-ac15-4570-aca0-5c974637a822_1200x1200.heic?v=1685218464">
                </div>
                <center><iframe id="mv" src="https://www.youtube-nocookie.com/embed/F5R4G9u2_R0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></center>
            </div> 
          </div>
          <!-- last column -->
       <div class="right-B">
         <div class="box">
            <h4> Updates </h4>
            <ul class="post-list">
               <li> <strong>10 OCT 24</strong>: Added suggested listening to two most recent posts, added components to homepage.</li>
            </ul>
         </div>  
          <div class="box">
              <h4> Favorite New Release </h4>
              <center><iframe id="mv" src="https://www.youtube-nocookie.com/embed/D7F42F_JM3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></center>
            </div>
            <div class="box">
               <h4> Recently played </h4>
               <center> <a href="https://www.last.fm/user/frenzy9"><img src="https://lastfm-recently-played.vercel.app/api?user=frenzy9" height="auto" width="350px"/></a> </center>
            </div>
            <div class="box">
               <h4> Personal Records</h4>
               <ul class="post-list">
                 <li><em>Updated Oct 30 2024</em></li>
                 <li>Benchpress: 105 lbs</li> 
                 <li>Deadlift: 155 lbs </li>
                 <li>Squat: untested</li> 
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <img id="baana" src="/assets/baana.png">
    <img id="label" src="/assets/label.png">-->
  </body>
  
</html>

