<!DOCTYPE html>

<html lang="en">
{% include "partials/header.html"%}
  <body>
    <div class="wrapper">
      <div class="content">
{% include "partials/left-nav.html" %}
        <div class="right">
          <div class="box">
            <h4>Recent Posts</h4>    
            <div>
              <ul class="posts">
              {% assign top_posts = collections.post | reverse %}
	            {%- for post in top_posts limit:3 -%}
              <li><a href="{{ post.data.permalink }}"> {{ post.data.title }} ☆ {{ post.data.date | readableDate }}</a></li>
            	{% endfor %}
              </ul>
            </div>
          </div>
          <div class="box">
            <main class="text"{{content}}</main> 
          </div>
        </div>
        <div> <h4> heyy</h4></div>
      </div>
    </div>
  </body>
</html>

