<!DOCTYPE html>

<html lang="en">
{% include "partials/head.html"%}
  <body>
{% include "partials/header.html"%}
    <div class="wrapper">
      <div class="content">
{% include "partials/left-nav.html" %}
        <div class="right-main">
          <div class="right-A">
            <div class="box">
              <h4>Recent Posts</h4>    
              <div>
                <ul class="post-list">
                {% assign top_posts = collections.post | reverse %}
                {%- for post in top_posts limit:3 -%}
                <li><a href="{{ post.data.permalink }}"> ☆ {{ post.data.title }}</a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
            <div id="buttons">
              <a href="https://nekoweb.org/"><img src="https://nekoweb.org/assets/buttons/button11.gif"></a><!-- button by milkyway.moe -->
              <a href="https://alienheadshitkid.neocities.org/"> <img src="https://alienheadshitkid.neocities.org/assets/global/ahskbuttonv2.gif" title="Alien Head Shit Kid"> </a>
              <a href=""><img src="https://ayoreis.com/static/Arch.png"></a>
              <a href=""><img src="https://www.vim.org/images/vim.vialle.love.anim.gif"></a>
            </div>
            <div class="box"> 
              <h4> Latest Obsessions </h4>
                <center><iframe id="mv" src="https://www.youtube-nocookie.com/embed/Qn2yFhEDBAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></center>
                <div class="obsession-images">
                  <img class="obsession-image-tall" src="/assets/rick.jpeg">
                  <img class="obsession-image-tall" src="https://shopthroat.com/cdn/shop/files/image_e0d1f50f-ac15-4570-aca0-5c974637a822_1200x1200.heic?v=1685218464">
                </div>
                <center><iframe id="mv" src="https://www.youtube-nocookie.com/embed/rN6BjDCl9cI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></center>
                <div class="obsession-images">
                  <img class="obsession-image-sq" src="https://assets.woolworthsstatic.co.za/Replica-Jazz-Club-Eau-de-Toilette-100ml-509060508-detail4.jpg?V=KqUC&o=eyJidWNrZXQiOiJ3dy1vbmxpbmUtaW1hZ2UtcmVzaXplIiwia2V5IjoiaW1hZ2VzL2VsYXN0aWNlcmEvcHJvZHVjdHMvYWx0ZXJuYXRlLzIwMjQtMDgtMjAvNTA5MDYwNTA4XzEwME1MX2RldGFpbDQuanBnIn0&q=75">
                  <img class="obsession-image-sq" src="https://static.wixstatic.com/media/b6d06a_89846fde57dc4bf684d3528098369496~mv2.png/v1/fill/w_640,h_440,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/b6d06a_89846fde57dc4bf684d3528098369496~mv2.png">
                </div>
            </div> 
          </div>
          <!-- last column -->
       <div class="right-B">
         <div class="box">
            <h4> Updates </h4>
            <ul class="post-list">
               <li> <strong>10 OCT 24</strong>: Added suggested listening to two most recent posts, added components to homepage.</li>
            </ul>
         </div>  
          <div class="box">
              <h4> Favorite New Release </h4>
              <center><iframe id="mv" src="https://www.youtube-nocookie.com/embed/Xb9A_qz3D2U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></center>
            </div>
            <div class="box">
               <h4> Recently played </h4>
               <center> <a href="https://www.last.fm/user/frenzy9"><img src="https://lastfm-recently-played.vercel.app/api?user=frenzy9" height="auto" width="350px"/></a> </center>
            </div>
            <div class="box">
               <h4> Personal Records</h4>
               <ul class="post-list">
                 <li><em>Updated Nov 10 2024</em></li>
                 <li>Benchpress: 105 lbs</li> 
                 <li>Deadlift: 155 lbs </li>
                 <li>Squat: 105 lbs</li> 
            </div>

          </div>
        </div>
      </div>
    </div>
    <img id="baana" src="/assets/baana.png">
    <img id="label" src="/assets/label.png">
  </body>
  
</html>

