<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html"%}
  <body>
    {% include "partials/header.html"%}
    <div class="wrapper">
      <div class="content">
        {% include "partials/left-nav.html" %}
        <div class="right-text-section">
          <div class="box">
            <h4>{{ title }}</h4>
            <div class="text-post">
              <div>{{ content | safe }} </div>
              <hr>
              <center><p>  ☆ {{ date | readableDate }}  ☆ </p></center>
             </div>  
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

