  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="/assets/berserk-96.png">
    <title>Amaris Spacetime</title>
      <div class="header box">

        <h4 id="header-runner"> Supported by The Resturaunt at the End of The Universe </h4>
        <h3>Amaris</h3>
        <img src="/assets/demon.png">
        <h3>Spacetime</h3>
      </div>
  </head>
