<div class="left">
  <div class="box">
    <h4>Transport</h4>
    <ul class="left-links-li">
      <li><a href="/">Home</a></li>
      <li><a href="hotlinks">Hotlinks</a></li>
      <li><a href="posts">Blog Posts</a></li>
    </ul>
  </div>
  <div class='box '>
    <h4>amaris universe</h4>
    <ul class='left-links-li'>
      <li><a href="https://myanimelist.net/profile/lunargrenade">MyAnimeList</a></li>
    </ul>
  </div>
  <div class="self-icn box">
    <img src="/assets/self1.png">
  </div>
</div>

